body {
font-family: Arial;
background: url('../images/design/login_page_bg.png') #0a0a0a repeat-x;
color: white;
text-align: center;
font-size: 12px;
}
.table {
background-color: #292929;
border: 1px solid #505050;
}
.header {

height: 33px;
line-height: 33px;
color: white;
padding-left: 5px;
border-bottom: 1px solid #505050;
}
.header td {
	padding:0px;
	padding-left: 5px;
}
.subhead {
	text-align: left;
	vertical-align: middle;
	line-height: 24px;
	margin-right: 10px;
	color: #cccccc;
	background: url(../images/design/subhead.png) repeat-x;
	font: 11px Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.selectBox {
	display: inline;
	border: 1px solid #505050;
	cursor: pointer;
	margin: 5px;
	margin-left: 2px;
	padding: 5px 15px 5px 15px;
	vertical-align: middle;
	color: #cccccc;
	background: url(../images/design/subhead.png) repeat-x;
	font: 11px Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.selectedBox {
	display: inline;
	border: 1px solid #505050;
	cursor: pointer;
	margin:	5px;
	margin-left: 2px;
	padding: 5px 15px 5px 15px;
	vertical-align: middle;
	color: #cccccc;
	background: url(../images/design/selected_box.png) repeat-x;
	font: 11px Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.subhead td {
	border-bottom: 1px solid black;
	padding-left: 3px;
}
.dark td, .stats_table{
	background-color: #343434;
	border-right: 1px solid black;
}
td {
padding: 5px;
}
i {
color: #d75f51 !important;
font-style: normal;
}
#container {
text-align: left;
width: 800px;
margin-left: auto;
margin-right: auto;
}
#content-container {

}
#content {
	filter: alpha(opacity =   90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	background-color: #292929;
border: 1px solid #444444;
float: left;
width: 750px;
}
#logo {
	float: left;
	margin-left:40px;
}
#menu {
	width: auto;
	height: 17px;
	float: left;
	margin-left: 250px;
	background-image: url(../images/design/menu_bg.png);
}
#menu li a{
	filter: alpha(opacity = 70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	padding: 3px;
	padding-left: 15px;
	padding-right: 15px;
	background-image: url(../images/design/menu_bg.png);
	color: white;
	text-decoration: none;
}
.selected a{
	filter: alpha(opacity = 90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	padding: 3px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #173478;
	border: 1px solid #333333;
	color: white;
	text-decoration: none;
}
#menu ul {
	padding: 0px;
	margin: 0;
}
#menu li {
	list-style-type: none;
float: left;
}
a {
color: white;
}

.login {
margin: 10px;
border: 1px solid #333333;
width: 500px;
background-color: #1c1c1c;
text-align: left;
padding-left: 100px;
}
.login-button {
padding: 10px;
padding-left: 20px;
padding-right: 20px;
color: #8e8e8e;
cursor: hand;
border: 1px solid #333333;
background-color: #161616;
}
.textinput {
border: 1px solid #333333;
background-color: #161616;
width: 200px;
color: #8e8e8e;
}
.login-form {
float: left;
}
.tools {
float: left;
}
.tools li {
margin: 10px;
list-style-type: none;
}
.tools a {
text-decoration: none;
}

#screenshots {
border: 5px solid #454545;
width: 600px;
padding: 10px;
background-color: #0a0a0a;
}
#screenshots ul {
margin: 0;
padding: 0;
margin-left: 20px;

}

#screenshots li {
float: left;
list-style-type: none;
margin-left: 5px;
}
#screenshots img {
border: 2px double #454545;
}
.content_text{
	width: 90%;
	text-align: justify;
	font-size: 12px !important;
}
<!-- [if ie]>
body {
	text-align: center;
}
<![endif]-->